.wrap{
  width:92%;
  max-width:560px;
  margin:auto;
  
}

/* ===== HEADER FIX ===== */
.header{
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(14px);
  background: linear-gradient(
    to bottom,
    rgba(10,15,28,0.85),
    rgba(10,15,28,0.35)
  );
}